.stepper {
  display: flex;
  text-align: center;
  max-width: 400px;
  justify-content: space-between;
  .step {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    color: var(--color-text);
    gap: 3px;

    .circle {
      display: flex;
      justify-content: center;
      align-items: center;
      background: var(--color-additional);
      border-radius: 25px;
      font-size: 16px;
      width: 36px;
      height: 36px;

      &_active {
        background-color: var(--color-additional7);
        font-weight: 600;
      }
    }

    .label {
      font-size: 12px;
      font-weight: 400;
    }

    .line {
      width: 60px;
      height: 1px;
      background-color: var(--color-additional);
      margin: 8px 0;
      position: absolute;
      top: 18px;
      left: 60px;
    }
  }
}
