.calendar {
  &_overlay {
    width: 100px;
    height: 100px;
  }
   &_test {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    background-image: var(--images-checkmark-additional);
  }
  position: absolute;
  z-index: 1;
  &_wrapper {
    position: relative;
    display: flex;
    justify-content: flex-end;
  }
}
